
.youtube-logo{
    height:70px;
}
.voicesearch-icon{
    height:40px;
}
.search-icon{
    height:40px;
}
.hamburger-icon{
    height:40px;
}
.status-container img{
    height:40px;
}
.header{
    z-index:100;
    border-top:0px;
    top:0px;
    left:0px;
    right:0px;
    border:solid 2px #2c2a2a;
    border-radius:2px;
    display:flex;
    justify-content:space-between;
    position:fixed;
    height:55px;
    background-color:black;
    
    }

.logo-container{
    display:flex;
    align-items:center;
    margin-left:10px;
    margin-right:10px;
}

.search-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-left:50px;
    margin-right:5px;
    max-width:500px;
    flex-grow:1;
    
}
.search-box{
    height:30px;
    flex-grow:1;
    background-color: #121212;
    border:solid 1px white;
    border-radius:1px;
    color:white;
}
.search{
    position:relative;
    border:2px solid #2b2929;
    margin-left:5px;
}

.voicesearch{
    position:relative;
    border:2px solid #2b2929;
    
}

.tooltip,.voicesearch .tooltip{
    position:absolute;
    background-color:white;
    color:black;
    border: solid 2px #202020;
    border-radius:2px;
    top:70px;
    opacity:0;
    transition:opacity 0.5s;
}

.search:hover .tooltip,.voicesearch:hover .tooltip{
    opacity:1;
}

.status-container{
    display:flex;
    margin-right:10px;
    margin-left:10px;
    flex-direction:row;
    align-items:center;
}
.avatar-icon{
    border-radius:40px;
}