.container{
    border:6px solid lightgray;
    display:flex;
    width:600px;
    height:800px;
    flex-wrap:wrap;  
    align-items:start
    
}
.flex-tiem{
    color:black;
    font-size:2rem;
    padding:1rem;
    text-align:center;
}
.item-1{
    background-color:blue;
   align-self:center
}
.item-2{
    background-color:Red
}
.item-3{
    background-color:yellow
}
.item-4{
    background-color:green
}
.item-5{
    background-color:pink
}
.item-6{
    background-color:purple
}